
.Card {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px;
    max-height: 350px;
    min-height: 100px;
    border-radius:10px;
    overflow:hidden;
    border:3px solid;
}

.Conteudo{

    text-align: center;
}

.Card .Titulo{

    padding:5px 0px;
    display:flex;
    justify-content: center;

}

.Card .Conteudo{

    flex-grow:1;
    background-color: white;
    color:black;
    padding:20px;   
}

